body {
	background-image: url("res/site_background.png");
/* override bootstrap background*/
}

.column-left {
	float: left;
}
.column-right {
	float: left;
}
.column-center {
	display: inline-block;
}
.gameDiv {
	position: absolute;
	width: 820px;
	height: 520px;
	z-index: 15;
	top: 340px;
	left: 30%;
	margin: -100px 0 0 -150px;
}

.ui-dialog button.custom { background: #ff0000 }
.ui-dialog button.custom:active { background: #FCBDD0 }
.ui-dialog button.yes_option { background: #00ff00 }
.ui-dialog button.no_option { background: #ff9199 }
.ui-dialog button.no_option:active { background-color: #0000ff; }
.ui-dialog button.yes_option:active { background-color: #0000ff; }
.ui-dialog button.no_option:hover { background-color: #F5B1AE; }
.ui-dialog button.yes_option:hover { background-color: #84DE10; }
