body {
	background-image: url("/res/site_background.png") !important;	/* override bootstrap background*/
}

/* site background working only on gh-pages, otherwise remove ApeMemoryGame*/

.column-left {
	float: left;
}
.column-right {
	float: left;
}
.column-center {
	display: inline-block;
}
.gameDiv {
	position: absolute;
	width: 820px;
	height: 520px;
	z-index: 15;
	top: 340px;
	left: 30%;
	margin: -100px 0 0 -150px;
}
